@layer tailwind-base, primereact, tailwind-utilities;

/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

.wrapper:after {
  background: transparent linear-gradient(180deg, #242d65, #cf2032) 0 0 no-repeat padding-box;
  content: "";
  height: 100%;
  left: 0;
  opacity: 23%;
  position: absolute;
  top: 0;
  width: 100%;
}
.p-component-overlay{
@apply bg-black  bg-opacity-5
}